.icon-48-customers {
      background-image: url(../images/l_customers.png);
      padding-left:60px!important;
}

.icon-48-customer {
      background-image: url(../images/l_customers.png);
      padding-left:60px!important;
}
.icon-48-dconfig{
	  background-image: url(../images/l_config.png);
      padding-left:60px!important;
}
.icon-32-dexcelicon{
	  background-image: url(../images/Excel.png); 
}


