.icon-48-directorys{
      background-image: url(../images/l_directorys.png);
      padding-left:60px!important;
}

.icon-48-directory{
      background-image: url(../images/l_directorys.png);
      padding-left:60px!important;
}

.icon-32-upload48{
      background-image: url(../images/upload32.png);
}

