<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
   		<param type="hidden" name="foldername" default="myjsp" />
   		<param type="text" name="user_edit_x" size="5" default="100%" label="COM_MYJSPACE_ADMIN_USER_EDIT_X_LABEL" description="COM_MYJSPACE_ADMIN_USER_EDIT_X_DESC" />
   		<param type="text" name="user_edit_y" size="5" default="600px" label="COM_MYJSPACE_ADMIN_USER_EDIT_Y_LABEL" description="COM_MYJSPACE_ADMIN_USER_EDIT_Y_DESC" />
   		<param type="text" name="admin_edit_x" size="5" default="100%" label="COM_MYJSPACE_ADMIN_ADMIN_EDIT_X_LABEL" description="COM_MYJSPACE_ADMIN_ADMIN_EDIT_X_DESC" />
   		<param type="text" name="admin_edit_y" size="5" default="400px" label="COM_MYJSPACE_ADMIN_ADMIN_EDIT_Y_LABEL" description="COM_MYJSPACE_ADMIN_ADMIN_EDIT_Y_DESC" />
		<param name="editor_selection" type="editors" default="myjsp" label="COM_MYJSPACE_ADMIN_EDITOR_CHOICE_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_CHOICE_DESC" />
		<param name="allow_editor_button" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOW_EDITOR_BUTTON_LABEL" description="COM_MYJSPACE_ADMIN_ALLOW_EDITOR_BUTTON_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>		
		<param name="allow_drag_drop" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOW_DRAG_DROP_LABEL" description="COM_MYJSPACE_ADMIN_ALLOW_DRAG_DROP_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>		
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="editor_bbcode" type="list" default="1" label="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
   		<param type="text" name="editor_bbcode_width" size="5" default="800" label="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_WIDTH_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_WIDTH_DESC" />
   		<param type="text" name="editor_bbcode_height" size="5" default="" label="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_HEIGHT_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_HEIGHT_DESC" />
		<param name="editor_bbcode_register" type="list" default="0" label="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_REGISTER_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_REGISTER_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="pagebreak" type="list" default="1" label="COM_MYJSPACE_ADMIN_EDITOR_PAGEBREAK_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_PAGEBREAK_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="pagebreak_num" type="list" default="1" label="COM_MYJSPACE_ADMIN_DISPLAY_PAGEBREAK_NUM_LABEL" description="COM_MYJSPACE_ADMIN_DISPLAY_PAGEBREAK_NUM_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="pagetitle" type="list" default="1" label="COM_MYJSPACE_ADMIN_PAGETITLE_LABEL" description="COM_MYJSPACE_ADMIN_PAGETITLE_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="pageauthor" type="list" default="1" label="COM_MYJSPACE_ADMIN_EDITOR_PAGEAUTHOR_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_PAGEAUTHOR_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
   		<param type="text" name="pagedescription" size="80" default="" label="COM_MYJSPACE_ADMIN_PAGEDESCRIPTION_LABEL" description="COM_MYJSPACE_ADMIN_PAGEDESCRIPTION_DESC" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="link_folder" type="list" default="1" label="COM_MYJSPACE_ADMIN_LINK_FOLDER_LABEL" description="COM_MYJSPACE_ADMIN_LINK_FOLDER_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="link_folder_print" type="list" default="1" label="COM_MYJSPACE_ADMIN_LINK_FOLDER_PRINT_LABEL" description="COM_MYJSPACE_ADMIN_LINK_FOLDER_PRINT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>		
		<param name="force_itemid" type="text" size="4" default="" label="COM_MYJSPACE_ADMIN_FORCE_ITEMID_LABEL" description="COM_MYJSPACE_ADMIN_FORCE_ITEMID_DESC" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="user_mode_view" type="list" default="1" label="COM_MYJSPACE_ADMIN_USER_MODE_VIEW_LABEL" description="COM_MYJSPACE_ADMIN_USER_MODE_VIEW_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="user_mode_view_default" type="list" default="0" label="COM_MYJSPACE_ADMIN_USER_MODE_VIEW_DEFAULT_LABEL" description="COM_MYJSPACE_ADMIN_USER_MODE_VIEW_DEFAULT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_USER_MODE_VIEW0</option>
			<option value="2">COM_MYJSPACE_ADMIN_USER_MODE_VIEW2</option>
			<option value="1">COM_MYJSPACE_ADMIN_USER_MODE_VIEW1</option>
		</param>
		<param name="publish_mode" type="list" default="2" label="COM_MYJSPACE_ADMIN_PUBLISH_MODE_DEFAULT_LABEL" description="COM_MYJSPACE_ADMIN_PUBLISH_MODE_DEFAULT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_PUBLISH_MODE0</option>
			<option value="1">COM_MYJSPACE_ADMIN_PUBLISH_MODE1</option>
			<option value="2">COM_MYJSPACE_ADMIN_PUBLISH_MODE2</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
   		<param type="text" name="name_page_max_size" size="20" default="92160" label="COM_MYJSPACE_ADMIN_NAME_PAGE_MAX_SIZE_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_MAX_SIZE_DESC" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="pagename_username" type="list" default="0" label="COM_MYJSPACE_ADMIN_PAGE_PAGENAME_USERNAME_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_PAGENAME_USERNAME_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="auto_create_page" type="list" default="3" label="COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE1</option>
			<option value="2">COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE2</option>
			<option value="3">COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE3</option>
		</param>
   		<param type="text" name="name_page_caract_ok" size="20" default="/^[A-Za-z0-9]+$/" label="COM_MYJSPACE_ADMIN_NAME_PAGE_CARACT_OK_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_CARACT_OK_DESC" />
   		<param type="text" name="name_page_caract_error" size="80" default="" label="COM_MYJSPACE_ADMIN_NAME_PAGE_CARACT_ERROR_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_CARACT_ERROR_DESC" />
   		<param type="text" name="name_page_size_min" size="2" default="0" label="COM_MYJSPACE_ADMIN_NAME_PAGE_SIZE_MIN_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_SIZE_MIN_DESC" />
   		<param type="text" name="name_page_size_max" size="2" default="20" label="COM_MYJSPACE_ADMIN_NAME_PAGE_SIZE_MAX_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_SIZE_MAX_DESC" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
   		<param type="text" name="page_prefix" size="80" default="" label="COM_MYJSPACE_ADMIN_PAGE_PREFIX_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_PREFIX_DESC" />
   		<param type="text" name="page_suffix" size="80" default="#bsmyjspace" label="COM_MYJSPACE_ADMIN_PAGE_SUFFIX_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_SUFFIX_DESC" />
		<param name="allow_user_content_var" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOW_USER_CONTENT_VAR_LABEL" description="COM_MYJSPACE_ADMIN_ALLOW_USER_CONTENT_VAR_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="add_hostname" type="list" default="0" label="COM_MYJSPACE_ADMIN_ADD_HOSTNAME_LABEL" description="COM_MYJSPACE_ADMIN_ADD_HOSTNAME_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
   		<param type="text" name="date_fmt" size="20" default="Y-m-d H:i:s" label="COM_MYJSPACE_ADMIN_DATE_FMT_LABEL" description="COM_MYJSPACE_ADMIN_DATE_FMT_DESC" />
		<param name="page_increment" type="list" default="1" label="COM_MYJSPACE_ADMIN_PAGE_INCREMENT_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_INCREMENT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
   		<param type="text" name="model_pagename" size="80" default="" label="COM_MYJSPACE_ADMINMODEL_PAGENAME_LABEL" description="COM_MYJSPACE_ADMINMODEL_PAGENAME_DESC" />
   		<param type="text" name="template_list" size="40" default="" label="COM_MYJSPACE_ADMIN_TEMPLATE_LIST_LABEL" description="COM_MYJSPACE_ADMIN_TEMPLATE_LIST_DESC" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="email_admin" type="list" default="0" label="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_LABEL" description="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="email_user" type="list" default="0" label="COM_MYJSPACE_ADMIN_EMAIL_USER_LABEL" description="COM_MYJSPACE_ADMIN_EMAIL_USER_LABEL" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>		
   		<param type="text" name="email_admin_from" size="20" default="" label="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_FROM_LABEL" description="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_FROM_DESC" />
   		<param type="text" name="email_admin_to" size="20" default="" label="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_TO_LABEL" description="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_TO_DESC" />		
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="uploadimg" type="list" default="1" label="COM_MYJSPACE_ADMIN_UPLOADIMG_LABEL" description="COM_MYJSPACE_ADMIN_UPLOADIMG_DESC">
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="uploadmedia" type="list" default="0" label="COM_MYJSPACE_ADMIN_UPLOADMEDIA_LABEL" description="COM_MYJSPACE_ADMIN_UPLOADMEDIA_DESC">
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="uploadadmin" type="list" default="1" label="COM_MYJSPACE_ADMIN_UPLOADADMIN_LABEL" description="COM_MYJSPACE_ADMIN_UPLOADADMIN_DESC">
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
   		<param type="text" name="uploadfile" size="20" default="*" label="COM_MYJSPACE_ADMIN_UPLOADFILE_LABEL" description="COM_MYJSPACE_ADMIN_UPLOADFILE_DESC" />		
   		<param type="text" name="file_max_size" size="20" default="204800" label="COM_MYJSPACE_ADMIN_FILE_MAX_SIZE_LABEL" description="COM_MYJSPACE_ADMIN_FILE_MAX_SIZE_DESC" />
   		<param type="text" name="dir_max_size" size="20" default="2097152" label="COM_MYJSPACE_ADMIN_DIR_MAX_SIZE_LABEL" description="COM_MYJSPACE_ADMIN_DIR_MAX_SIZE_DESC" />
   		<param type="text" name="resize_x" size="4" default="800" label="COM_MYJSPACE_ADMIN_RESIZEX_LABEL" description="COM_MYJSPACE_ADMIN_RESIZEX_DESC" />		
   		<param type="text" name="resize_y" size="4" default="600" label="COM_MYJSPACE_ADMIN_RESIZEY_LABEL" description="COM_MYJSPACE_ADMIN_RESIZEY_DESC" />		
		<param name="downloadimg" type="list" default="1" label="COM_MYJSPACE_ADMIN_DOWNLOADIMG_LABEL" description="COM_MYJSPACE_ADMIN_DOWNLOADIMG_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="dictionary" type="list" default="1" label="COM_MYJSPACE_ADMIN_DICTIONARY_LABEL" description="COM_MYJSPACE_ADMIN_DICTIONARY_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="add_lightbox" type="list" default="1" label="COM_MYJSPACE_ADMIN_ADD_LIGHTBOX_LABEL" description="COM_MYJSPACE_ADMIN_ADD_LIGHTBOX_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param type="text" name="search_max_line" size="3" default="100" label="COM_MYJSPACE_ADMIN_SEARCH_MAX_LINE_LABEL" description="COM_MYJSPACE_ADMIN_SEARCH_MAX_LINE_DESC" />
		<param name="search_aff_add" type="text" size="4" default="69" label="COM_MYJSPACE_ADMIN_SEARCH_AFF_ADD_DEFAULT_LABEL" description="COM_MYJSPACE_ADMIN_SEARCH_AFF_ADD_DEFAULT_DESC" />
		
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="jcomment" type="list" default="0" label="COM_MYJSPACE_ADMIN_JCOMMENT_DEFAULT_LABEL" description="COM_MYJSPACE_ADMIN_JCOMMENT_DEFAULT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>
		<param name="allow_plugin" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOW_PLUGIN_LABEL" description="COM_MYJSPACE_ADMIN_ALLOW_PLUGIN_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_ALLOW_PLUGIN_YES_CONTENT</option>
			<option value="2">COM_MYJSPACE_ADMIN_ALLOW_PLUGIN_YES_CONTENT_OTHER</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="allowcheckversion" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOWCHECKVERSION_LABEL" description="COM_MYJSPACE_ADMIN_ALLOWCHECKVERSION_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</param>

	</params>
	
	<fieldset name="component" label="COM_MYJSPACE_FIELDSET_CONFIG_EDITOR_OPTIONS_LABEL" description="COM_MYJSPACE_FIELDSET_CONFIG_EDITOR_OPTIONS_DESC" >
   		<field type="text" name="user_edit_x" size="5" default="100%" label="COM_MYJSPACE_ADMIN_USER_EDIT_X_LABEL" description="COM_MYJSPACE_ADMIN_USER_EDIT_X_DESC" />
   		<field type="text" name="user_edit_y" size="5" default="600px" label="COM_MYJSPACE_ADMIN_USER_EDIT_Y_LABEL" description="COM_MYJSPACE_ADMIN_USER_EDIT_Y_DESC" />
   		<field type="text" name="admin_edit_x" size="5" default="100%" label="COM_MYJSPACE_ADMIN_ADMIN_EDIT_X_LABEL" description="COM_MYJSPACE_ADMIN_ADMIN_EDIT_X_DESC" />
   		<field type="text" name="admin_edit_y" size="5" default="400px" label="COM_MYJSPACE_ADMIN_ADMIN_EDIT_Y_LABEL" description="COM_MYJSPACE_ADMIN_ADMIN_EDIT_Y_DESC" />
		<field name="editor_selection" type="editors" folder="editors" default="myjsp" label="COM_MYJSPACE_ADMIN_EDITOR_CHOICE_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_CHOICE_DESC" >
			<option value="-">JOPTION_USE_DEFAULT</option>
		</field>			
		<field name="allow_editor_button" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOW_EDITOR_BUTTON_LABEL" description="COM_MYJSPACE_ADMIN_ALLOW_EDITOR_BUTTON_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>		
		<field name="allow_drag_drop" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOW_DRAG_DROP_LABEL" description="COM_MYJSPACE_ADMIN_ALLOW_DRAG_DROP_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="editor_bbcode" type="list" default="1" label="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
   		<field type="text" name="editor_bbcode_width" size="5" default="800" label="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_WIDTH_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_WIDTH_DESC" />
   		<field type="text" name="editor_bbcode_height" size="5" default="" label="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_HEIGHT_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_HEIGHT_DESC" />
		<field name="editor_bbcode_register" type="list" default="0" label="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_REGISTER_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_BBCODE_REGISTER_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="allow_user_content_var" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOW_USER_CONTENT_VAR_LABEL" description="COM_MYJSPACE_ADMIN_ALLOW_USER_CONTENT_VAR_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="add_hostname" type="list" default="0" label="COM_MYJSPACE_ADMIN_ADD_HOSTNAME_LABEL" description="COM_MYJSPACE_ADMIN_ADD_HOSTNAME_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="pagebreak" type="list" default="1" label="COM_MYJSPACE_ADMIN_EDITOR_PAGEBREAK_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_PAGEBREAK_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="pagebreak_num" type="list" default="1" label="COM_MYJSPACE_ADMIN_DISPLAY_PAGEBREAK_NUM_LABEL" description="COM_MYJSPACE_ADMIN_DISPLAY_PAGEBREAK_NUM_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
	</fieldset>

	<fieldset name="configuration" label="COM_MYJSPACE_FIELDSET_CONFIG_CONFIGURATION_OPTIONS_LABEL" description="COM_MYJSPACE_FIELDSET_CONFIG_CONFIGURATION_OPTIONS_DESC" >
   		<field type="hidden" name="foldername" default="myjsp" />
		<field name="pagetitle" type="list" default="1" label="COM_MYJSPACE_ADMIN_PAGETITLE_LABEL" description="COM_MYJSPACE_ADMIN_PAGETITLE_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="pageauthor" type="list" default="1" label="COM_MYJSPACE_ADMIN_EDITOR_PAGEAUTHOR_LABEL" description="COM_MYJSPACE_ADMIN_EDITOR_PAGEAUTHOR_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
   		<field type="text" name="pagedescription" size="80" default="" label="COM_MYJSPACE_ADMIN_PAGEDESCRIPTION_LABEL" description="COM_MYJSPACE_ADMIN_PAGEDESCRIPTION_DESC" />

		<field name="link_folder" type="list" default="1" label="COM_MYJSPACE_ADMIN_LINK_FOLDER_LABEL" description="COM_MYJSPACE_ADMIN_LINK_FOLDER_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>

		<field name="link_folder_print" type="list" default="1" label="COM_MYJSPACE_ADMIN_LINK_FOLDER_PRINT_LABEL" description="COM_MYJSPACE_ADMIN_LINK_FOLDER_PRINT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="force_itemid" type="text" size="4" default="" label="COM_MYJSPACE_ADMIN_FORCE_ITEMID_LABEL" description="COM_MYJSPACE_ADMIN_FORCE_ITEMID_DESC" />
		
		<field name="user_mode_view" type="list" default="1" label="COM_MYJSPACE_ADMIN_USER_MODE_VIEW_LABEL" description="COM_MYJSPACE_ADMIN_USER_MODE_VIEW_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="user_mode_view_default" type="list" default="0" label="COM_MYJSPACE_ADMIN_USER_MODE_VIEW_DEFAULT_LABEL" description="COM_MYJSPACE_ADMIN_USER_MODE_VIEW_DEFAULT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_USER_MODE_VIEW0</option>
			<option value="2">COM_MYJSPACE_ADMIN_USER_MODE_VIEW2</option>
			<option value="1">COM_MYJSPACE_ADMIN_USER_MODE_VIEW1</option>
		</field>
		<field name="publish_mode" type="list" default="2" label="COM_MYJSPACE_ADMIN_PUBLISH_MODE_DEFAULT_LABEL" description="COM_MYJSPACE_ADMIN_PUBLISH_MODE_DEFAULT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_PUBLISH_MODE0</option>
			<option value="1">COM_MYJSPACE_ADMIN_PUBLISH_MODE1</option>
			<option value="2">COM_MYJSPACE_ADMIN_PUBLISH_MODE2</option>
		</field>
   		<field type="text" name="name_page_max_size" size="20" default="92160" label="COM_MYJSPACE_ADMIN_NAME_PAGE_MAX_SIZE_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_MAX_SIZE_DESC" />
		<field name="pagename_username" type="list" default="0" label="COM_MYJSPACE_ADMIN_PAGE_PAGENAME_USERNAME_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_PAGENAME_USERNAME_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="auto_create_page" type="list" default="3" label="COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE1</option>
			<option value="2">COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE2</option>
			<option value="3">COM_MYJSPACE_ADMIN_PAGE_AUTO_CREATE_PAGE3</option>
		</field>
		
   		<field type="text" name="name_page_caract_ok" size="20" default="/^[A-Za-z0-9]+$/" label="COM_MYJSPACE_ADMIN_NAME_PAGE_CARACT_OK_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_CARACT_OK_DESC" />
   		<field type="text" name="name_page_caract_error" size="80" default="" label="COM_MYJSPACE_ADMIN_NAME_PAGE_CARACT_ERROR_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_CARACT_ERROR_DESC" />
   		<field type="text" name="name_page_size_min" size="2" default="0" label="COM_MYJSPACE_ADMIN_NAME_PAGE_SIZE_MIN_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_SIZE_MIN_DESC" />
   		<field type="text" name="name_page_size_max" size="2" default="20" label="COM_MYJSPACE_ADMIN_NAME_PAGE_SIZE_MAX_LABEL" description="COM_MYJSPACE_ADMIN_NAME_PAGE_SIZE_MAX_DESC" />
		
   		<field type="text" name="page_prefix" size="80" default="" label="COM_MYJSPACE_ADMIN_PAGE_PREFIX_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_PREFIX_DESC" />
   		<field type="text" name="page_suffix" size="80" default="#bsmyjspace" label="COM_MYJSPACE_ADMIN_PAGE_SUFFIX_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_SUFFIX_DESC" />

   		<field type="text" name="date_fmt" size="20" default="Y-m-d H:i:s" label="COM_MYJSPACE_ADMIN_DATE_FMT_LABEL" description="COM_MYJSPACE_ADMIN_DATE_FMT_DESC" />
		<field name="page_increment" type="list" default="1" label="COM_MYJSPACE_ADMIN_PAGE_INCREMENT_LABEL" description="COM_MYJSPACE_ADMIN_PAGE_INCREMENT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>

   		<field type="text" name="model_pagename" size="80" default="" label="COM_MYJSPACE_ADMINMODEL_PAGENAME_LABEL" description="COM_MYJSPACE_ADMINMODEL_PAGENAME_DESC" />
   		<field type="text" name="template_list" size="40" default="" label="COM_MYJSPACE_ADMIN_TEMPLATE_LIST_LABEL" description="COM_MYJSPACE_ADMIN_TEMPLATE_LIST_DESC" />

		<field name="email_admin" type="list" default="0" label="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_LABEL" description="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="email_user" type="list" default="0" label="COM_MYJSPACE_ADMIN_EMAIL_USER_LABEL" description="COM_MYJSPACE_ADMIN_EMAIL_USER_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>		
   		<field type="text" name="email_admin_from" size="20" default="" label="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_FROM_LABEL" description="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_FROM_DESC" />
   		<field type="text" name="email_admin_to" size="20" default="" label="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_TO_LABEL" description="COM_MYJSPACE_ADMIN_EMAIL_ADMIN_TO_DESC" />	

		<field name="dictionary" type="list" default="1" label="COM_MYJSPACE_ADMIN_DICTIONARY_LABEL" description="COM_MYJSPACE_ADMIN_DICTIONARY_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>

		<field name="add_lightbox" type="list" default="1" label="COM_MYJSPACE_ADMIN_ADD_LIGHTBOX_LABEL" description="COM_MYJSPACE_ADMIN_ADD_LIGHTBOX_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		
		<field type="text" name="search_max_line" size="3" default="100" label="COM_MYJSPACE_ADMIN_SEARCH_MAX_LINE_LABEL" description="COM_MYJSPACE_ADMIN_SEARCH_MAX_LINE_DESC" />

		<field name="search_aff_add" type="text" size="3" default="69" label="COM_MYJSPACE_ADMIN_SEARCH_AFF_ADD_DEFAULT_LABEL" description="COM_MYJSPACE_ADMIN_SEARCH_AFF_ADD_DEFAULT_DESC" />
		
		<field name="allow_plugin" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOW_PLUGIN_LABEL" description="COM_MYJSPACE_ADMIN_ALLOW_PLUGIN_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_ALLOW_PLUGIN_YES_CONTENT</option>
			<option value="2">COM_MYJSPACE_ADMIN_ALLOW_PLUGIN_YES_CONTENT_OTHER</option>
		</field>

		<field name="jcomment" type="list" default="0" label="COM_MYJSPACE_ADMIN_JCOMMENT_DEFAULT_LABEL" description="COM_MYJSPACE_ADMIN_JCOMMENT_DEFAULT_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>

		<field name="allowcheckversion" type="list" default="1" label="COM_MYJSPACE_ADMIN_ALLOWCHECKVERSION_LABEL" description="COM_MYJSPACE_ADMIN_ALLOWCHECKVERSION_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		
	</fieldset>

	<fieldset name="upload_download" label="COM_MYJSPACE_FIELDSET_CONFIG_UPLOAD_OPTIONS_LABEL" description="COM_MYJSPACE_FIELDSET_CONFIG_UPLOAD_OPTIONS_DESC" >
		<field name="uploadimg" type="list" default="1" label="COM_MYJSPACE_ADMIN_UPLOADIMG_LABEL" description="COM_MYJSPACE_ADMIN_UPLOADIMG_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="uploadmedia" type="list" default="0" label="COM_MYJSPACE_ADMIN_UPLOADMEDIA_LABEL" description="COM_MYJSPACE_ADMIN_UPLOADMEDIA_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
		<field name="uploadadmin" type="list" default="1" label="COM_MYJSPACE_ADMIN_UPLOADADMIN_LABEL" description="COM_MYJSPACE_ADMIN_UPLOADADMIN_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>
   		<field type="text" name="uploadfile" size="20" default="*" label="COM_MYJSPACE_ADMIN_UPLOADFILE_LABEL" description="COM_MYJSPACE_ADMIN_UPLOADFILE_DESC" />		
   		<field type="text" name="file_max_size" size="20" default="204800" label="COM_MYJSPACE_ADMIN_FILE_MAX_SIZE_LABEL" description="COM_MYJSPACE_ADMIN_FILE_MAX_SIZE_DESC" />
   		<field type="text" name="dir_max_size" size="20" default="2097152" label="COM_MYJSPACE_ADMIN_DIR_MAX_SIZE_LABEL" description="COM_MYJSPACE_ADMIN_DIR_MAX_SIZE_DESC" />
   		<field type="text" name="resize_x" size="4" default="800" label="COM_MYJSPACE_ADMIN_RESIZEX_LABEL" description="COM_MYJSPACE_ADMIN_RESIZEX_DESC" />		
   		<field type="text" name="resize_y" size="4" default="600" label="COM_MYJSPACE_ADMIN_RESIZEY_LABEL" description="COM_MYJSPACE_ADMIN_RESIZEY_DESC" />		
		<field name="downloadimg" type="list" default="1" label="COM_MYJSPACE_ADMIN_DOWNLOADIMG_LABEL" description="COM_MYJSPACE_ADMIN_DOWNLOADIMG_DESC" >
			<option value="0">COM_MYJSPACE_ADMIN_NO</option>
			<option value="1">COM_MYJSPACE_ADMIN_YES</option>
		</field>

	</fieldset>
	
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_myjspace"
			section="component" />
	</fieldset>

</config>